CTRL + ENTER ---TO RUN

SHIFT + ENTER ---TO RUN AND MOVE TO NEXT CELL

CTRL + S ----TO SAVE

# Altering notebook structure


Menu: Insert > Insert Cell Below or Insert Cell Above for inserting cell above or below the code

or

"ESC + A" to insert above or "ESC + B" to insert below

## String
A String is a sequence of characters

"Hello" or 'Hello' are correctly formatted strings

"Hello' is incorrectly formatted starting with double " and ending with single ' python needs a matching quote to know where the string ends

In [1]:
print("hey there!")

hey there!

In [2]:
print('good day')

good day

## Integers
whole numbers such as -2, -1, 0, 1, 2, 3 are Integers

Integers are not placed in quotes

A String can contain any character, this includes letters, spaces, punctuation, number digits and formatting. In a string with digits ("123") the digits are text images rather than representations of numeric values.

remember a line of python code starting with the pound or hash symbol (#) indicates a comment

comments are for humans to read and are not run by computers

In [3]:
#printing an integer
print(2019)

2019

In [4]:
print("2018")

2018

In [5]:
"2018"

'2018'

In [6]:
2018

2018

## Variables

they are used to store value

In [7]:
food_item="mango"

In [8]:
print(food_item)

mango

In [9]:
print(food_item)
food_item="banana"
print(food_item)

mango
banana

In [10]:
item="food"

In [11]:
print(item)

food

In [12]:
item=7
print(item)

7

In [13]:
item="16j41a05h1"

In [14]:
print(item)

16j41a05h1

## Using the Python type() function

it returns the type of the data

In [15]:
student=10
type(student)

int

In [16]:
student="harry"
type(student)

str

In [17]:
print(type(student))

<class 'str'>

In [18]:
student=5.4
type(student)

float

In [19]:
student="5.4abc"

In [20]:
print(type(student))

<class 'str'>

## Addition: Number & String

In [21]:
5+2

7

In [22]:
5.5-4

1.5

In [23]:
print("Hello!"+"This is rizvana")

Hello!This is rizvana

## Use addition in variable assignments

In [24]:
stu=10+30

In [25]:
print(stu)

40

In [26]:
a="happy birthday "
b=a + "Rizvana! "

In [27]:
print(b)

happy birthday Rizvana!

In [28]:
c=b+ "Lets party!"

In [29]:
print(c)

happy birthday Rizvana! Lets party!

In [30]:
stu_2=stu+stu
print(stu_2)

80

## Errors!

SyntaxError - breaks code formatting rules of python


NameError - object is not defined (can't be found)


Python has a specific grammar that it follows that is referred to as syntax.
The print function syntax rules for output of a single string include

parentheses ( ) containing a string follow print (SyntaxError)
strings have matching quotation marks (SyntaxError)
print is lowercase and correctly spelled (NameError)

In [31]:
#str andint cannot be combined 
print("park the car"+123)

TypeError: can only concatenate str (not "int") to str

In [32]:
1_dan=9

SyntaxError: invalid token (<ipython-input-32-d1c42f8a75f7>, line 1)

In [33]:
print("hey!"(

SyntaxError: unexpected EOF while parsing (<ipython-input-33-b50ecfa38e4c>, line 1)

In [34]:
Print("hey!")

NameError: name 'Print' is not defined

## ASCII Art
ASCII Art, also known as character art, allows software developers to add creativity to console based applications.

These simple examples of ASCII Art can give you an idea of ways to use ASCII Art to decorate your programs.

We can create simple letters and you can get much more stylized letters. So you can do a web search for those and get some great ideas. We can put logos on there. We can give rewards for correct answers, make the ASCII Art part of the program.

In [35]:
print("* * *")
print("*    *")
print("*   *")
print("*  *")
print("**")
print("* *")
print("*   *")
print("*     *")

* * *
*    *
*   *
*  *
**
* *
*   *
*     *

## user input
input()

get information from users with input()

the input() function prompts the user to supply data returning that data as a string

note: input() returns a string (type = str) regardless of entry

In [36]:
print("enter the no. of items")
a=input()

enter the no. of items
5